<div class="card shadow-md h-full">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">Transactions for {{ selectedAccountName$ | async }}</h5>

    <!-- Action Buttons -->
    <div class="btn-group" role="group">
      <button type="button"
              class="btn btn-sm btn-light me-2 rounded-lg shadow-sm fw-bold"
              (click)="openAddTransactionModal()">
        <i class="bi bi-plus-circle-fill me-1"></i> Add Transaction
      </button>
      <button type="button"
              class="btn btn-sm btn-outline-light rounded-lg shadow-sm"
              (click)="openEditDeleteTransactionModal()">
        <i class="bi bi-pencil-fill me-1"></i> Edit/Delete
      </button>
    </div>
  </div>

  <div class="card-body p-0">
    <ul class="list-group list-group-flush">
      @if (transactions().length > 0) {

        @for (transaction of transactions(); track transaction.transactionId) {

          <li class="list-group-item d-flex justify-content-between align-items-center py-3 transaction-item"
              (click)="selectTransaction(transaction)"

              [ngClass]="{
               'bg-info-subtle': (selectedTransactionId$ | async) === transaction.transactionId,
               'border-primary': (selectedTransactionId$ | async) === transaction.transactionId
              }">

            <div class="d-flex flex-column">
              <div class="fw-bold fs-6 text-dark">{{ transaction.transactionName }}</div>
              <div class="text-sm text-muted">
              <span class="text-secondary fw-semibold">
                {{ transaction.categoryName || 'Uncategorized' }}
              </span>
                <span class="mx-2 text-primary">|</span>
                <span class="text-secondary">
                {{ transaction.transactionDate | date:'shortDate' }}
              </span>
              </div>
            </div>

            <div class="ms-auto text-end">
            <span class="fw-bolder fs-5"
                  [class.text-success]="transaction.transactionType === 'CREDIT'"
                  [class.text-danger]="transaction.transactionType === 'DEBIT'">
            <ng-container *ngIf="transaction.transactionType === 'CREDIT'">+</ng-container>

    <ng-container *ngIf="transaction.transactionType === 'DEBIT'">
      ({{ transaction.transactionAmount | currency:'USD' }})
    </ng-container>

    <ng-container *ngIf="transaction.transactionType === 'CREDIT'">
      {{ transaction.transactionAmount | currency:'USD' }}
    </ng-container>
            </span>
            </div>
          </li>
        }
      } @else {
      }
    </ul>
  </div>

<app-add-transaction-modal
  *ngIf="isAddTransactionModalOpen()"
  (closeModal)="closeAddTransactionModal()">
</app-add-transaction-modal>

<!--<app-edit-delete-account-modal-->
<!--  *ngIf="isEditDeleteTransactionModalOpen()"-->
<!--  (close)="closeEditDeleteTransactionModal()">-->
<!--</app-edit-delete-account-modal>-->
