  <!-- First Row: Checking Accounts, Transactions -->
  <div class="row g-4">

    <!-- Column 1: Checking Accounts List -->
    <div class="col-12 col-lg-4">
    <app-account-list></app-account-list>
    </div>

    <!-- Column 2: Transactions Detail -->
    <div class="col-12 col-lg-8">
      <app-transaction-list></app-transaction-list>
    </div>
  </div>

  <!-- Second Row: Savings Goal Visualization -->
  <div class="row g-4 mt-4">
    <div class="col-12">
      <app-savings-goal-list></app-savings-goal-list>
    </div>
  </div>





